
  #image{
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
  }

  
  #tribute-link {
    color: #CC0000;
    font-weight: bold;
  }
  
  #image {
    max-width: 500px;
    display: block;
  }
  
  #img-caption {
    font-size: 20px;
  }
  
  .noCenter {
    margin: auto;
    width: 50%;
    padding: 10px;
  }

  .center {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
  }